---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Creative Signals</h1>
			<h2>
				Software/Website/App Development, Technical Enhancements, Modern Compliances
			</h2>
			<p>
				Having issues with your site? New ideas you want developed? Need analytics installed on your site? Site seems like its running slow or running into small issues you've just dealt with? 
				Start a conversation and lets upgrade your site, app, or software. 
			</p>
			<p>Creative Signals was started by Caine Barber - a full stack developer since 2011, having worked on sites including:</p>
			<ul>
				<li>CollegeHillsHonda.com</li>
				<li>VOA.gov</li>
				<li>RallyHouse.com</li>
				<li>SinisterDiesel.com</li>
				<li>..and so many more</li>
			</ul>
			<p>
				From full website rebuilds to making sites ADA compliant, Caine has a wide skillset for improving websites, building features, and making designs come to life.
			</p>
			<p>
				Want to start the conversation? Reach out for a quote / estimate on your project.
			</p>
		</main>
		<Footer />
	</body>
</html>
